body{
  background-color: #EFEFEF;
  font-family: "Helvetica", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.App {
  text-align: center;
  color: #212121;
  /*background-color: #E0FFC9;*/
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #519872;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
