body{
    background-color: #f9f9f9;
    /*background-color: #EFEFEF;*/
    font-family: "Helvetica Neue", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.App {
    color: #212121;
}

.App-logo {
    height: 80px;
}

.App-header {
    text-align: center;
    background-color: #519872;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}


.title-header{
    color: white;
    background-color: #519872;
    max-height: 46px;
    padding: 10px;
    text-align: center;
}

.title-header > h5{
    font-weight: bold;
}

.content{
    margin-top: 10px;
    margin-bottom: 60px;
}
