.footprint-form-intro{
    margin-top: 20px;
    padding: 20px;
}

.footprint-form-intro-content{
    padding: 20px;
    text-align: justify-all
}


/* FootprintResultPage*/

.signup-link {
    padding-top: 20px;
}

.signup-link a{
    color: black;
}

.footprint-result-title{
    margin-bottom: 30px;
}

.footprint-result-row-car{
    text-align: center;
    border: solid #f9f9f9;
    border-width: 10px 16px 0px 16px;
    height: 25vh;
    /*padding-top: 60px;*/
    /*padding-bottom: 60px;*/
    background-color: #519872;
}

.footprint-result-row-food{
    text-align: center;
    border: solid #f9f9f9;
    border-width: 10px 16px 0px 16px;
    height: 25vh;
    /*padding-top: 60px;*/
    /*padding-bottom: 60px;*/
    background-color: #74BA94;
}

.footprint-result-row-home{
    text-align: center;
    border: solid #f9f9f9;
    border-width: 10px 16px 0px 16px;
    height: 25vh;
    /*padding-top: 60px;*/
    /*padding-bottom: 60px;*/
    background-color: #508991;
    /*background-color: #0c5460;*/
}


.footprint-result-row-image{
    margin-left: 15vw;
    margin-top: auto;
    margin-bottom: auto;
}

.footprint-result-row-value{
    margin-top: auto;
    margin-bottom: auto;
}

.footprint-result-value{
    font-size: 1.7em;
}

/* ================================== */