.nav-bar{
    background-color: #f9f9f9;
    /*-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);*/
    /*-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);*/
    /*box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);*/
}

.navbar-nav.mobile-bar {
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin: 0px 0px;
}

.navbar-nav.mobile-bar > .nav-item > .nav-link > img{
    max-height: 34px;
    max-width: 34px;
}

.navbar-nav.mobile-bar > .nav-item > .nav-link.active{
    border-top: #519872 4px solid;
}